# Supabase Configuration
# Lấy từ Dashboard của Supabase: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Tên miền triển khai
NEXT_PUBLIC_APP_URL=https://playverse.senexam.me
